# Python Cache and bytecode files
__pycache__/
*.py[cod]
*$py.class  
*.so
.Python

# Virtual Environment
.venv/
venv/
env/
ENV/

# Distribution / Packaging
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Environment variables
.env
.env.*
!.evn.example   